body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: rgb(157, 92, 71);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d4d0d0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

h3 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form input,
form button {
    margin-bottom: 10px;
    display: block;
}

form input[type="url"] {
    width: 100%;
}

#now-playing-info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#now-playing-info img {
    width: 400px;
    height: 400px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#album-details {
    flex-grow: 1;
}

#library-stock-check {
    margin-top: 50px;
}
